
<router-outlet></router-outlet>







<div class="login-container" *ngIf="!disable">

  <form #loginForm="ngForm" class="login-form">
    <h2 *ngIf="!enableregister">Login</h2>
    <h2 *ngIf="enableregister">Register</h2>

    <div class="input-group">
      <input type="text"
             id="username"
             name="username"
             [(ngModel)]="username"
             placeholder=" "
             required />
      <label for="username">Username</label>
    </div>

    <div class="input-group">
      <input [type]="showPassword ? 'text' : 'password'"
             id="password"
             name="password"
             [(ngModel)]="password"
             placeholder=" "
             required />
      <label for="password">Password</label>
      <span class="toggle-password" (click)="togglePassword()">👁</span>
    </div>

    <button type="submit" class="login-btn" (click)="onLogin('register')" *ngIf="enableregister">Register</button>

    <button type="submit" class="login-btn" (click)="onLogin('login')" *ngIf="!enableregister">Login</button>

    <li (click)="trigger()">Register</li>
  </form>
</div>

