<!--<input type="" />search-->





<button style="float:right" (click)="cardetails()">cartdetails</button>
<app-text-box label=""
              placeholder="Search"
              [(value)]="searchparameter">
</app-text-box>
<div class="product-container">
  <div *ngFor="let product of products" class="product-card">
    <img [src]="product.image" alt="{{ product.name }}" class="product-img" />
    <h3>{{ product.name }}</h3>
    <p>Price: ${{ product.price }}</p>
    <button (click)="addToCart(product)">Add to Cart</button>
  </div>
</div>
<div style="float:left">
  <i (click)="opencart()">
    <i class="fas fa-shopping-cart"></i> Cart


    ({{ cart.length }})
  </i>
</div>




