<h2>ArcGIS Distance Calculator</h2>


<!--<input type="text" [(ngModel)]="location1" placeholder="Enter first location">
<input type="text" [(ngModel)]="location2" placeholder="Enter second location">
<button (click)="findDistance()">Find Distance</button>


<p *ngIf="distance !== null">Distance: {{ distance.toFixed(2) }} km</p>-->
<!-- Inputs for coordinates -->
<input type="text" [(ngModel)]="long" placeholder="Longitude">
<input type="text" [(ngModel)]="lat" placeholder="Latitude">

<!-- Buttons -->
<button (click)="trackBus()">Track</button>
<button (click)="save()">Save</button>


<div #mapViewDiv style="height: 500px;"></div>
<!--<app-close></app-close>-->
